@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFormFieldLeft {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 21rem);
  }
}
