@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInScaleGrow {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  75% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: scaleX(0.3);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes changeWidthSlideLeft {
  0% {
    transform: scaleX(0.3);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRotateLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem) rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes fadeInSlideRotateRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem) rotate(-360deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
